<body style="overflow: hidden">
  <div class="parentDiv">
    <div nz-row class="main">
      <!-- A國 -->
      <div nz-col nzSpan="6" [ngClass]="getAClass()">
        <div nz-row style="height: 75%" *ngIf="valueA != -1">
          <table
            style="text-align: center; width: 100%; height: 50vh"
            class="tableA"
          >
            <!-- A國疫情指數 -->
            <tr>
              <td style="width: 60%; font-size: 65px">{{ nameA }}</td>
              <td>
                <i nz-icon nzType="deployment-unit" nzTheme="outline"></i>
                {{ healA }}
              </td>
            </tr>
            <!-- A國捐贈疫苗 -->
            <tr>
              <td rowspan="2" style="width: 60%; font-size: 100px">
                {{ valueA }}
              </td>
              <td>
                <span nz-dropdown [nzDropdownMenu]="menuA1"
                  ><i nz-icon nzType="heart" nzTheme="outline"></i>
                  {{ donateA }}
                </span>
                <nz-dropdown-menu #menuA1="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li
                      nz-menu-item
                      (click)="toDonateA()"
                      style="width: 120px; text-align: center"
                    >
                      捐贈他國
                    </li>
                    <li
                      nz-menu-item
                      (click)="reDonateA()"
                      style="width: 120px; text-align: center"
                    >
                      取消捐贈
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <!-- A國接受疫苗 -->
            <tr>
              <td>
                <span nz-dropdown [nzDropdownMenu]="menuA2"
                  ><i nz-icon nzType="smile" nzTheme="outline"></i> {{ favorA }}
                </span>
                <nz-dropdown-menu #menuA2="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li
                      nz-menu-item
                      (click)="toFavorA()"
                      style="width: 120px; text-align: center"
                    >
                      接受疫苗
                    </li>
                    <li
                      nz-menu-item
                      (click)="reFavorA()"
                      style="width: 120px; text-align: center"
                    >
                      取消接受
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <!-- A國使用疫苗 -->
            <tr style="font-size: 65px" [ngClass]="getAHide()">
              <td (click)="lessA()">
                <i nz-icon nzType="deployment-unit"></i>
              </td>
              <td (click)="reA()"><i nz-icon nzType="undo"></i></td>
            </tr>
          </table>
        </div>
      </div>

      <!-- B國 -->
      <div nz-col nzSpan="6" [ngClass]="getBClass()">
        <div nz-row style="height: 75%" *ngIf="valueB != -1">
          <table
            style="text-align: center; width: 100%; height: 50vh"
            class="tableB"
          >
            <!-- B國疫情指數 -->
            <tr>
              <td style="width: 60%; font-size: 65px">{{ nameB }}</td>
              <td>
                <i nz-icon nzType="deployment-unit" nzTheme="outline"></i>
                {{ healB }}
              </td>
            </tr>
            <!-- B國捐贈疫苗 -->
            <tr>
              <td rowspan="2" style="width: 60%; font-size: 100px">
                {{ valueB }}
              </td>
              <td>
                <span nz-dropdown [nzDropdownMenu]="menuB1"
                  ><i nz-icon nzType="heart" nzTheme="outline"></i>
                  {{ donateB }}
                </span>
                <nz-dropdown-menu #menuB1="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li
                      nz-menu-item
                      (click)="toDonateB()"
                      style="width: 120px; text-align: center"
                    >
                      捐贈他國
                    </li>
                    <li
                      nz-menu-item
                      (click)="reDonateB()"
                      style="width: 120px; text-align: center"
                    >
                      取消捐贈
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <!-- B國接受疫苗 -->
            <tr>
              <td>
                <span nz-dropdown [nzDropdownMenu]="menuB2"
                  ><i nz-icon nzType="smile" nzTheme="outline"></i> {{ favorB }}
                </span>
                <nz-dropdown-menu #menuB2="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li
                      nz-menu-item
                      (click)="toFavorB()"
                      style="width: 120px; text-align: center"
                    >
                      接受疫苗
                    </li>
                    <li
                      nz-menu-item
                      (click)="reFavorB()"
                      style="width: 120px; text-align: center"
                    >
                      取消接受
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <!-- B國使用疫苗 -->
            <tr style="font-size: 65px" [ngClass]="getBHide()">
              <td (click)="lessB()">
                <i nz-icon nzType="deployment-unit"></i>
              </td>
              <td (click)="reB()"><i nz-icon nzType="undo"></i></td>
            </tr>
          </table>
        </div>
      </div>

      <!-- C國 -->
      <div nz-col nzSpan="6" [ngClass]="getCClass()">
        <div nz-row style="height: 75%" *ngIf="valueC != -1">
          <table
            style="text-align: center; width: 100%; height: 50vh"
            class="tableC"
          >
            <!-- C國疫情指數 -->
            <tr>
              <td style="width: 60%; font-size: 65px">{{ nameC }}</td>
              <td>
                <i nz-icon nzType="deployment-unit" nzTheme="outline"></i>
                {{ healC }}
              </td>
            </tr>
            <!-- C國捐贈疫苗 -->
            <tr>
              <td rowspan="2" style="width: 60%; font-size: 100px">
                {{ valueC }}
              </td>
              <td>
                <span nz-dropdown [nzDropdownMenu]="menuC1"
                  ><i nz-icon nzType="heart" nzTheme="outline"></i>
                  {{ donateC }}
                </span>
                <nz-dropdown-menu #menuC1="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li
                      nz-menu-item
                      (click)="toDonateC()"
                      style="width: 120px; text-align: center"
                    >
                      捐贈他國
                    </li>
                    <li
                      nz-menu-item
                      (click)="reDonateC()"
                      style="width: 120px; text-align: center"
                    >
                      取消捐贈
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <!-- C國接受疫苗 -->
            <tr>
              <td>
                <span nz-dropdown [nzDropdownMenu]="menuC2"
                  ><i nz-icon nzType="smile" nzTheme="outline"></i> {{ favorC }}
                </span>
                <nz-dropdown-menu #menuC2="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li
                      nz-menu-item
                      (click)="toFavorC()"
                      style="width: 120px; text-align: center"
                    >
                      接受疫苗
                    </li>
                    <li
                      nz-menu-item
                      (click)="reFavorC()"
                      style="width: 120px; text-align: center"
                    >
                      取消接受
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <!-- C國使用疫苗 -->
            <tr style="font-size: 65px" [ngClass]="getCHide()">
              <td (click)="lessC()">
                <i nz-icon nzType="deployment-unit"></i>
              </td>
              <td (click)="reC()"><i nz-icon nzType="undo"></i></td>
            </tr>
          </table>
        </div>
      </div>

      <!-- D國 -->
      <div nz-col nzSpan="6" [ngClass]="getDClass()">
        <div nz-row style="height: 75%" *ngIf="valueD != -1">
          <table
            style="text-align: center; width: 100%; height: 50vh"
            class="tableD"
          >
            <!-- D國疫情指數 -->
            <tr>
              <td style="width: 60%; font-size: 65px">{{ nameD }}</td>
              <td>
                <i nz-icon nzType="deployment-unit" nzTheme="outline"></i>
                {{ healD }}
              </td>
            </tr>
            <!-- D國捐贈疫苗 -->
            <tr>
              <td rowspan="2" style="width: 60%; font-size: 100px">
                {{ valueD }}
              </td>
              <td>
                <span nz-dropdown [nzDropdownMenu]="menuD1"
                  ><i nz-icon nzType="heart" nzTheme="outline"></i>
                  {{ donateD }}
                </span>
                <nz-dropdown-menu #menuD1="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li
                      nz-menu-item
                      (click)="toDonateD()"
                      style="width: 120px; text-align: center"
                    >
                      捐贈他國
                    </li>
                    <li
                      nz-menu-item
                      (click)="reDonateD()"
                      style="width: 120px; text-align: center"
                    >
                      取消捐贈
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <!-- D國接受疫苗 -->
            <tr>
              <td>
                <span nz-dropdown [nzDropdownMenu]="menuD2"
                  ><i nz-icon nzType="smile" nzTheme="outline"></i> {{ favorD }}
                </span>
                <nz-dropdown-menu #menuD2="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li
                      nz-menu-item
                      (click)="toFavorD()"
                      style="width: 120px; text-align: center"
                    >
                      接受疫苗
                    </li>
                    <li
                      nz-menu-item
                      (click)="reFavorD()"
                      style="width: 120px; text-align: center"
                    >
                      取消接受
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <!-- D國使用疫苗 -->
            <tr style="font-size: 65px" [ngClass]="getDHide()">
              <td (click)="lessD()">
                <i nz-icon nzType="deployment-unit"></i>
              </td>
              <td (click)="reD()"><i nz-icon nzType="undo"></i></td>
            </tr>
          </table>
        </div>
      </div>

      <!-- E國 -->
      <div nz-col nzSpan="6" [ngClass]="getEClass()">
        <div nz-row style="height: 75%" *ngIf="valueE != -1">
          <table
            style="text-align: center; width: 100%; height: 50vh"
            class="tableE"
          >
            <!-- E國疫情指數 -->
            <tr>
              <td style="width: 60%; font-size: 65px">{{ nameE }}</td>
              <td>
                <i nz-icon nzType="deployment-unit" nzTheme="outline"></i>
                {{ healE }}
              </td>
            </tr>
            <!-- E國捐贈疫苗 -->
            <tr>
              <td rowspan="2" style="width: 60%; font-size: 100px">
                {{ valueE }}
              </td>
              <td>
                <span nz-dropdown [nzDropdownMenu]="menuE1"
                  ><i nz-icon nzType="heart" nzTheme="outline"></i>
                  {{ donateE }}
                </span>
                <nz-dropdown-menu #menuE1="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li
                      nz-menu-item
                      (click)="toDonateE()"
                      style="width: 120px; text-align: center"
                    >
                      捐贈他國
                    </li>
                    <li
                      nz-menu-item
                      (click)="reDonateE()"
                      style="width: 120px; text-align: center"
                    >
                      取消捐贈
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <!-- E國接受疫苗 -->
            <tr>
              <td>
                <span nz-dropdown [nzDropdownMenu]="menuE2"
                  ><i nz-icon nzType="smile" nzTheme="outline"></i> {{ favorE }}
                </span>
                <nz-dropdown-menu #menuE2="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li
                      nz-menu-item
                      (click)="toFavorE()"
                      style="width: 120px; text-align: center"
                    >
                      接受疫苗
                    </li>
                    <li
                      nz-menu-item
                      (click)="reFavorE()"
                      style="width: 120px; text-align: center"
                    >
                      取消接受
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <!-- E國使用疫苗 -->
            <tr style="font-size: 65px" [ngClass]="getEHide()">
              <td (click)="lessE()">
                <i nz-icon nzType="deployment-unit"></i>
              </td>
              <td (click)="reE()"><i nz-icon nzType="undo"></i></td>
            </tr>
          </table>
        </div>
      </div>

      <!-- F國 -->
      <div nz-col nzSpan="6" [ngClass]="getFClass()">
        <div nz-row style="height: 75%" *ngIf="valueF != -1">
          <table
            style="text-align: center; width: 100%; height: 50vh"
            class="tableF"
          >
            <!-- F國疫情指數 -->
            <tr>
              <td style="width: 60%; font-size: 65px">{{ nameF }}</td>
              <td>
                <i nz-icon nzType="deployment-unit" nzTheme="outline"></i>
                {{ healF }}
              </td>
            </tr>
            <!-- F國捐贈疫苗 -->
            <tr>
              <td rowspan="2" style="width: 60%; font-size: 100px">
                {{ valueF }}
              </td>
              <td>
                <span nz-dropdown [nzDropdownMenu]="menuF1"
                  ><i nz-icon nzType="heart" nzTheme="outline"></i>
                  {{ donateF }}
                </span>
                <nz-dropdown-menu #menuF1="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li
                      nz-menu-item
                      (click)="toDonateF()"
                      style="width: 120px; text-align: center"
                    >
                      捐贈他國
                    </li>
                    <li
                      nz-menu-item
                      (click)="reDonateF()"
                      style="width: 120px; text-align: center"
                    >
                      取消捐贈
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <!-- F國接受疫苗 -->
            <tr>
              <td>
                <span nz-dropdown [nzDropdownMenu]="menuF2"
                  ><i nz-icon nzType="smile" nzTheme="outline"></i> {{ favorF }}
                </span>
                <nz-dropdown-menu #menuF2="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li
                      nz-menu-item
                      (click)="toFavorF()"
                      style="width: 120px; text-align: center"
                    >
                      接受疫苗
                    </li>
                    <li
                      nz-menu-item
                      (click)="reFavorF()"
                      style="width: 120px; text-align: center"
                    >
                      取消接受
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <!-- F國使用疫苗 -->
            <tr style="font-size: 65px" [ngClass]="getFHide()">
              <td (click)="lessF()">
                <i nz-icon nzType="deployment-unit"></i>
              </td>
              <td (click)="reF()"><i nz-icon nzType="undo"></i></td>
            </tr>
          </table>
        </div>
      </div>

      <!-- G國 -->
      <div nz-col nzSpan="6" [ngClass]="getGClass()">
        <div nz-row style="height: 75%" *ngIf="valueG != -1">
          <table
            style="text-align: center; width: 100%; height: 50vh"
            class="tableG"
          >
            <!-- G國疫情指數 -->
            <tr>
              <td style="width: 60%; font-size: 65px">{{ nameG }}</td>
              <td>
                <i nz-icon nzType="deployment-unit" nzTheme="outline"></i>
                {{ healG }}
              </td>
            </tr>
            <!-- G國捐贈疫苗 -->
            <tr>
              <td rowspan="2" style="width: 60%; font-size: 100px">
                {{ valueG }}
              </td>
              <td>
                <span nz-dropdown [nzDropdownMenu]="menuG1"
                  ><i nz-icon nzType="heart" nzTheme="outline"></i>
                  {{ donateG }}
                </span>
                <nz-dropdown-menu #menuG1="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li
                      nz-menu-item
                      (click)="toDonateG()"
                      style="width: 120px; text-align: center"
                    >
                      捐贈他國
                    </li>
                    <li
                      nz-menu-item
                      (click)="reDonateG()"
                      style="width: 120px; text-align: center"
                    >
                      取消捐贈
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <!-- G國接受疫苗 -->
            <tr>
              <td>
                <span nz-dropdown [nzDropdownMenu]="menuG2"
                  ><i nz-icon nzType="smile" nzTheme="outline"></i> {{ favorG }}
                </span>
                <nz-dropdown-menu #menuG2="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li
                      nz-menu-item
                      (click)="toFavorG()"
                      style="width: 120px; text-align: center"
                    >
                      接受疫苗
                    </li>
                    <li
                      nz-menu-item
                      (click)="reFavorG()"
                      style="width: 120px; text-align: center"
                    >
                      取消接受
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
            <!-- G國使用疫苗 -->
            <tr style="font-size: 65px" [ngClass]="getGHide()">
              <td (click)="lessG()">
                <i nz-icon nzType="deployment-unit"></i>
              </td>
              <td (click)="reG()"><i nz-icon nzType="undo"></i></td>
            </tr>
          </table>
        </div>
      </div>

      <!-- 倒數計時器 Timing -->
      <div nz-col nzSpan="6" [ngClass]="getTimeClass()">
        <div
          style="
            text-align: center;
            line-height: 50vh;
            font-size: 200%;
            user-select: none;
          "
        >
          <i
            nz-icon
            nzType="clock-circle"
            nzTheme="outline"
            (click)="toShowTimer()"
            *ngIf="timer == '' || timer == '00:00'"
          ></i>
          <i
            nz-icon
            nzType="pause-circle"
            nzTheme="outline"
            (click)="timeOut()"
            *ngIf="timer != '' && timer != '00:00' && !isStop"
          ></i>
          <i
            nz-icon
            nzType="play-circle"
            nzTheme="outline"
            (click)="continue()"
            *ngIf="timer != '' && timer != '00:00' && isStop"
          ></i>
          {{ timer }}
        </div>
      </div>
    </div>
    <div class="child1" (click)="closePicture()" *ngIf="isPic1"></div>
    <div class="child2" (click)="closePicture()" *ngIf="isPic2"></div>
    <div class="child3" (click)="closePicture()" *ngIf="isPic3"></div>
  </div>
</body>

<nz-affix style="position: absolute; top: 91vh; left: 15px">
  <i
    nz-icon
    nzType="right-circle"
    nzTheme="outline"
    (click)="open()"
    class="menu-btn"
  ></i>
</nz-affix>
<nz-affix style="position: absolute; top: 91vh; right: 15px">
  <i
    nz-icon
    nzType="notification"
    nzTheme="outline"
    (click)="toShowAudio()"
    class="menu-btn"
  ></i>
</nz-affix>
<nz-affix style="position: absolute; top: 94vh; right: 18vw">
  <button
    nz-button
    nzSize="small"
    nzGhost
    style="margin-left: 10px"
    (click)="showPic1()"
  >
    1
  </button>
  <button
    nz-button
    nzSize="small"
    nzGhost
    style="margin-left: 10px"
    (click)="showPic2()"
  >
    2
  </button>
  <button
    nz-button
    nzSize="small"
    nzGhost
    style="margin-left: 10px"
    (click)="showPic3()"
  >
    3
  </button>
</nz-affix>

<!-- 抽屜 -->
<nz-drawer
  [nzPlacement]="'left'"
  [nzClosable]="false"
  [nzVisible]="visible"
  nzPlacement="right"
  nzTitle="Menu"
  (nzOnClose)="close()"
>
  <p class="menu-content" (click)="toShowCountry()">
    <i nz-icon nzType="global" nzTheme="outline"></i><span>國家啟用</span>
  </p>
  <p class="menu-content" (click)="toShowRise()">
    <i nz-icon nzType="rise" nzTheme="outline"></i><span>疫情增加</span>
  </p>
  <p class="menu-content" (click)="toShowAdd()">
    <i nz-icon nzType="line-chart" nzTheme="outline"></i><span>事件1-1增加</span
    ><i nz-icon nzType="plus-circle" nzTheme="fill"></i>
  </p>
  <p class="menu-content" (click)="toShowHelp()">
    <i nz-icon nzType="box-plot" nzTheme="outline"></i><span>事件3-1疫苗</span>
  </p>
  <p class="menu-content" (click)="toShowLess()">
    <i nz-icon nzType="line-chart" nzTheme="outline"></i><span>事件3-2減少</span
    ><i nz-icon nzType="minus-circle" nzTheme="fill"></i>
  </p>
  <p class="menu-content" (click)="toShowAudio()">
    <i nz-icon nzType="notification" nzTheme="outline"></i><span>啟用廣播</span>
  </p>
</nz-drawer>

<nz-modal
  [(nzVisible)]="isRiseShow"
  nzTitle="提示"
  (nzOnCancel)="handleRiseCancel()"
  (nzOnOk)="handleRiseOk()"
>
  <h3>請問到達下回合了嗎？</h3>
</nz-modal>

<nz-modal
  [(nzVisible)]="isAddShow"
  nzTitle="事件增加疫情情況"
  (nzOnCancel)="handleAddCancel()"
  (nzOnOk)="handleAddOk()"
>
  <nz-checkbox-wrapper style="width: 100%" (nzOnChange)="addLog($event)">
    <div nz-row>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="A">{{ nameA }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="B">{{ nameB }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="C">{{ nameC }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="D">{{ nameD }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="E">{{ nameE }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="F">{{ nameF }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="G">{{ nameG }}</label>
      </div>
    </div>
  </nz-checkbox-wrapper>
</nz-modal>

<nz-modal
  [(nzVisible)]="isLessShow"
  nzTitle="事件減少疫情情況"
  (nzOnCancel)="handleLessCancel()"
  (nzOnOk)="handleLessOk()"
>
  <nz-checkbox-wrapper style="width: 100%" (nzOnChange)="lessLog($event)">
    <div nz-row>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="A">{{ nameA }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="B">{{ nameB }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="C">{{ nameC }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="D">{{ nameD }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="E">{{ nameE }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="F">{{ nameF }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="G">{{ nameG }}</label>
      </div>
    </div>
  </nz-checkbox-wrapper>
</nz-modal>

<nz-modal
  [(nzVisible)]="isHelpShow"
  nzTitle="提示"
  (nzOnCancel)="handleHelpCancel()"
  (nzOnOk)="handleHelpOk()"
>
  <h3>請填入疫苗支數：</h3>
  <nz-input-number
    style="width: 100%"
    [(ngModel)]="helpNum"
    [nzMin]="0"
    [nzMax]="99"
    [nzStep]="1"
  ></nz-input-number>
</nz-modal>

<nz-modal
  [(nzVisible)]="isTimerShow"
  nzTitle="提示"
  (nzOnCancel)="handleTimerCancel()"
  (nzOnOk)="handleTimerOk()"
>
  <nz-tabset nzSize="large">
    <nz-tab nzTitle="第 一 回 合">
      <nz-radio-group
        [(ngModel)]="timerSet"
        [nzButtonStyle]="'solid'"
        style="width: 100%"
      >
        <label
          nz-radio-button
          [nzValue]="{ min: 10, isDynamic: true }"
          style="width: 33%"
          >動態 10 分鐘</label
        >
        <label
          nz-radio-button
          [nzValue]="{ min: 6, isDynamic: false }"
          style="width: 33%"
          >靜態 6 分鐘</label
        >
        <label
          nz-radio-button
          [nzValue]="{ min: 0, isDynamic: false }"
          style="width: 33%"
        >
          其他
        </label>
      </nz-radio-group>
    </nz-tab>
    <nz-tab nzTitle="第 二 回 合">
      <nz-radio-group
        [(ngModel)]="timerSet"
        [nzButtonStyle]="'solid'"
        style="width: 100%"
      >
        <label
          nz-radio-button
          [nzValue]="{ min: 7, isDynamic: true }"
          style="width: 33%"
          >動態 7 分鐘</label
        >
        <label
          nz-radio-button
          [nzValue]="{ min: 6, isDynamic: false }"
          style="width: 33%"
          >靜態 6 分鐘</label
        >
        <label
          nz-radio-button
          [nzValue]="{ min: 0, isDynamic: false }"
          style="width: 33%"
        >
          其他
        </label>
      </nz-radio-group>
    </nz-tab>
    <nz-tab nzTitle="第 三 回 合">
      <nz-radio-group
        [(ngModel)]="timerSet"
        [nzButtonStyle]="'solid'"
        style="width: 100%"
      >
        <label
          nz-radio-button
          [nzValue]="{ min: 7, isDynamic: true }"
          style="width: 33%"
          >動態 7 分鐘</label
        >
        <label
          nz-radio-button
          [nzValue]="{ min: 6, isDynamic: false }"
          style="width: 33%"
          >靜態 6 分鐘</label
        >
        <label
          nz-radio-button
          [nzValue]="{ min: 0, isDynamic: false }"
          style="width: 33%"
        >
          其他
        </label>
      </nz-radio-group>
    </nz-tab>
    <nz-tab nzTitle="第 四 回 合">
      <nz-radio-group
        [(ngModel)]="timerSet"
        [nzButtonStyle]="'solid'"
        style="width: 100%"
      >
        <label
          nz-radio-button
          [nzValue]="{ min: 10, isDynamic: false }"
          style="width: 50%"
          >動態 10 分鐘</label
        >
        <label
          nz-radio-button
          [nzValue]="{ min: 0, isDynamic: false }"
          style="width: 50%"
        >
          其他
        </label>
      </nz-radio-group>
    </nz-tab>
  </nz-tabset>

  <nz-input-group
    nzAddOnBefore="其他時間"
    style="margin-top: 30px"
    *ngIf="timerSet.min != 7 && timerSet.min != 10 && timerSet.min != 6"
  >
    <nz-input-number
      style="width: 100%"
      [(ngModel)]="timerSet.min"
      [nzMin]="0"
      [nzMax]="99"
      [nzStep]="1"
    ></nz-input-number>
  </nz-input-group>
</nz-modal>

<nz-modal
  [(nzVisible)]="isRemindShow"
  nzTitle="提示"
  (nzOnCancel)="handleRemindCancel()"
  (nzOnOk)="handleRemindOk()"
>
  <h3>疫情指數開始攀升</h3>
</nz-modal>

<nz-modal
  [(nzVisible)]="isCountryShow"
  nzTitle="國家啟用情況"
  (nzOnCancel)="handleCountryCancel()"
  (nzOnOk)="handleCountryOk()"
>
  <nz-checkbox-wrapper style="width: 100%" (nzOnChange)="countryLog($event)">
    <div nz-row>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="A" [ngModel]="true">{{ nameA }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="B" [ngModel]="true">{{ nameB }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="C" [ngModel]="true">{{ nameC }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="D" [ngModel]="true">{{ nameD }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="E" [ngModel]="true">{{ nameE }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="F" [ngModel]="true">{{ nameF }}</label>
      </div>
      <div nz-col nzSpan="6">
        <label nz-checkbox nzValue="G" [ngModel]="true">{{ nameG }}</label>
      </div>
    </div>
  </nz-checkbox-wrapper>
</nz-modal>

<nz-modal
  [(nzVisible)]="isAudioShow"
  nzTitle="廣播音效"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleAudioCancel()"
>
  <h2>請選擇音效</h2>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="playAudioOpen()">
      開始廣播
    </button>
    <button nz-button nzType="primary" (click)="playAudioEnd()">
      結束廣播
    </button>
  </ng-template>
</nz-modal>
